################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HuhMaui/obj
/HuhMaui/.vs
/HuhMaui/HuhMaui.csproj.user
/.vs
